@model IEnumerable<BlogMvc.Models.CategoryModel>

@{
    ViewBag.Title = "Index";
}

<h2>Kategori Listesi</h2>

<p>
    @Html.ActionLink("Yeni Kategori Ekle", "Create", null, new { @class = "btn btn-primary" })
</p>
<hr />

@if (TempData["Kategori"] != null)
{
    var kategori = (BlogMvc.Models.Category) TempData["Kategori"];
    <div class="alert alert-success" role="alert"><strong><span class="glyphicon glyphicon-ok"></span>@kategori.KategoriAdi</strong> Kayıt Edildi</div>
}
<table class="table">
    <tr>
        <th style="width:70%;">
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </th>
        <th style="width:10%;">
            @Html.DisplayNameFor(model => model.BlogSayisi)
        </th>
        <th style="width:200px;"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriAdi)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.BlogSayisi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }

</table>
