@model IEnumerable<BlogMvc.Models.Blog>

@{
    ViewBag.Title = "Index";
}

<h2>Blog Listesi</h2>
<hr />
<p>
    @Html.ActionLink("Yeni Blog Ekle", "Create",null,new { @class="btn btn-primary"})
    <hr />
</p>


@if (TempData["Blog"]!=null)
{
    var blog = (BlogMvc.Models.Blog)TempData["Blog"];
    <div class="alert alert-success" role="alert"><strong><span class="glyphicon glyphicon-ok"></span>@blog.Baslik</strong> Kayıt Edildi</div>
}
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.KategoriAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EklenmeTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Onay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anasayfa)
        </th>
        <th  style="width:200px;"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.KategoriAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Baslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aciklama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Icerik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EklenmeTarihi)
        </td>
        <td>
            @if (item.Onay==true)
            {
                <label class="label label-success">Onaylı</label>
            }
            else
            {
                <label class="label label-danger">Onay Bekliyor</label>
            }
            
        </td>
        <td>
            @if (item.Anasayfa == true)
            {
                <label class="label label-success">Anasayfa</label>
            }
            else
            {
                <label class="label label-danger">Anasayfa Onayı Bekliyor</label>

            }

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id },new { @class="btn btn-warning btn-xs"}) |

            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
